<nav>
    <div class="container d-flex align-items-center justify-content-between">
        <a href="/">
            <img src="/images/image.png" class="img-fluid logo_menu">
        </a>
        <ul class="list-unstyled navbar">
            <li>
                <a href="/">Autopote : la casse qui dépote !</a>
            </li>
            <li>
                <a class="btn btn-info border-0 shadow mx-2" href="/CategoryForm">Ajouter une catégorie</a>
            </li>
            <li>
                <a class="btn btn-info border-0 shadow mx-2" href="/BrandForm">Ajouter une marque</a>
            </li>
            <li>
                <a class="btn btn-info border-0 shadow mx-2" href="/PartForm">Ajouter une pièce</a>
            </li>
            <li>
                <a class="btn btn-info border-0 shadow mx-2" href="/dashboard">Tableau de bord</a>
            </li>
        </ul>
    </div>
</nav>